---
pageable: true
per_page: 10
---
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <article>
  <h2><%= link_to article.title, article %></h2>
  <!-- use article.summary(250) if you have Nokogiri available to show just
       the first 250 characters -->

  <%= article.body %>

  <div class="player">
      <div class="title">Track Title</div>
      <a class="prev">Previous</a>
      <a class="play">Play</a>
      <a class="pause">Pause</a>
      <a class="next">Next</a>
      <ol class="tracks"></ol>
    </div>

  </article>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
