---
pageable: true
per_page: 10
---
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <article id="<%=article.date.strftime('%m-%Y')%>-article">
  <h2><%= link_to article.title, article %></h2>
  <!-- use article.summary(250) if you have Nokogiri available to show just
       the first 250 characters -->

  <%= article.body %>

  <div class="<%=article.date.strftime('%m-%Y')%>-player">
      <div class="title">Track Title</div>
      <a class="prev">Previous</a>
      <a class="play">Play</a>
      <a class="pause">Pause</a>
      <a class="next">Next</a>
      <ol class="tracks"></ol>
    </div>

  </article>

  <script>
    soundManager.url = '/swfs/';
    soundManager.flashVersion = 9;
    soundManager.useFlashBlock = false;
    soundManager.useHighPerformance = true;
    soundManager.wmode = 'transparent';
    soundManager.useFastPolling = true;

    url = "<%= article.tags[0] %>";

    $(function(){

      soundManager.onready(function() {
      var consumer_key = "64490173cf79fa8173cf8bf23ff6c8d5", url;

        $.getJSON('http://api.soundcloud.com/resolve?url=' + url + '&format=json&consumer_key=' + consumer_key + '&callback=?', function(playlist){

          $('.<%=article.date.strftime('%m-%Y')%>-player .title').text(playlist.tracks[0].title);

          $.each(playlist.tracks, function(index, track) {

            if(track.stream_url){
              $('<li>' + track.title + '</li>').data('track', track).appendTo('.tracks');
              url = track.stream_url;

              (url.indexOf("secret_token") == -1) ? url = url + '?' : url = url + '&';
              url = url + 'consumer_key=' + consumer_key;

              soundManager.createSound({

                id: 'track_' + track.id,
                url: url,

                onplay: function() {
                  $('.<%=article.date.strftime('%m-%Y')%>-player').addClass('playing');
                  $('<%=article.date.strftime('%m-%Y')%>-player .title').text(track.title);
                },
                onresume: function() {
                  $('.<%=article.date.strftime('%m-%Y')%>-player').addClass('playing');
                },


                onpause: function() {
                  $('.<%=article.date.strftime('%m-%Y')%>-player').removeClass('playing');
                },

                onfinish: function() {
                  nextTrack();
                }
              });

            }

          });

          $('.<%=article.date.strftime('%m-%Y')%>-player .tracks li').on('click', function(){


            var $track = $(this),
                data = $track.data('track'),
                playing = $track.is('.active');

            if (playing) {

              soundManager.pause('track_' + data.id);

            } else {

              if ($track.siblings('li').hasClass('active')) { soundManager.stopAll(); }

              soundManager.play('track_' + data.id);

            }

            $track.toggleClass('active').siblings('li').removeClass('active');

          });
        });

        $('.<%=article.date.strftime('%m-%Y')%>-player .play, .<%=article.date.strftime('%m-%Y')%>-player .pause').on('click', function(){

          if ( $('li').hasClass('active') == true ) {
            soundManager.togglePause( 'track_' + $('li.active').data('track').id );

          } else {

            $('li:first').click();

          }

        });

        $('.<%=article.date.strftime('%m-%Y')%>-player .next').on('click', function(){
          nextTrack();
        });


        $('.<%=article.date.strftime('%m-%Y')%>-player .prev').on('click', function(){
          prevTrack();
        });


        var nextTrack = function(){

          soundManager.stopAll();

          if ( $('li.active').next().click().length == 0 ) {
            $('.tracks li:first').click();
          }

        }

        var prevTrack = function(){

          soundManager.stopAll();

      if ( $('li.active').prev().click().length == 0 ) {
            $('.tracks li:last').click();
          }

        }

      });

    });

  </script>




<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
